@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap');
.backg-pink{
    background-color: #FFF9F4;
}
.headline{
font-family: 'Bebas Neue', cursive;
}
.headline-orange{
    color: #FA804C;
}
.navy{
   color:  #363958;
}
.p-back{
    background-color: #F1F1F1;
    

}